<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Some Website</title>
</head>

<body>
    <h1>Sorry!</h1>
    <p>Our site is currently undergoing construction! We'll be back soon!</p>
</body>
</html>
