<!DOCTYPE html>
<html>
    <head>
        <title>{{tabTitle}}</title>
    </head>

    <body>
        {{> header}}
        <p>Welcome to the projects page!</p>
        {{> footer}}
    </body>
</html>
